<!DOCTYPE html>
<html lang="en">
<head>
    <title>Keyboard Studies</title>
    {% include "include/rascal-head.html" %}
</head>
<body>
    {% include "include/rascal-topbar.html" %}
    <div class="container">
        <div class="well rascal">
            <h1>Keyboard Studies</h1>
            <input id="whichkey2" value="type something">
            <textarea rows="6" cols="40" id="whichkey"></textarea><br />
            <div id="log"></div>
        </div>
    </div>
    <!-- {% include "include/doc-tab.html" %} --> 
    <script type="text/javascript">
        $('#whichkey').bind('keydown', function(e){
            $('#log').html(e.type + ': ' +  e.which + ", "
            + (e.metaKey ? "meta " : "")
            + (e.ctrlKey ? "ctrl " : "")
            + (e.altKey ? "alt " : "")
            + (e.shiftKey ? "shift " : ""));
            return true;
        });
    </script>
</body>
</html>
